*{
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: rgb(149, 149, 149);
  color: #222;
}

.card {
  width: 220px;
  height: 190px;
  background: #222;
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.4s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 200px;
  height: 150px;
  background-size: cover;
}

.card:hover {
  transition: 0.5s;
  transform: scale(0.95) ;
}

.clicked {
  /* background-color: purple; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  gap: 20px;
}

h2{
  text-align: center;
  font-size: 20px;
  margin: 10px 0px;
}

.score{
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 480px) {
  .card {
  width: 140px;
  height: 120px;
  background: #222;
  color: white;
  padding: 7px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.4s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transform-style: preserve-3d;
}

.card-con{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2{
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

h1{
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.card img {
  width: 130px;
  height: 110px;
  background-size: cover;
  border-radius: 10px;
}

}
